body{
    font-family: "Irish Grover", system-ui;
    background-color: yellow;
  /*  background-image: url("emily-portfolio-1/assets/images/third-background.avif");
    background-repeat: no-repeat;
    background-size: contain;
    height:2000px;*/
    
    }

nav{
    background-color: transparent;
    font-family: "Irish Grover", system-ui;
    font-size: 27px;
    font-style: normal;
    /* added the three "fonts" but had no changes to the navigation menu */
    display: flex; 
    justify-content: space-between;
    padding: 20px 10%; 
      }

#main-menu{
    display: flex;
    gap: 50px;
}

#main-menu li{
    list-style: none;
}

.dropdown{
    display: none;
    position: absolute;
    margin: 0px;
}

.sub-menu:hover .dropdown {
    display:block;
}

.logo{
    color: #0066FF;
    font-family: "Just Me Again Down Here", cursive;
    font-size: 60px;
    font-style: normal;
    padding: 0px 5%;
}

#main-menu button, #main-menu a {
    background-color: transparent;
    font-family: "Irish Grover", system ui;
    font-size: 20px; 
    color: black;
    border-width: 0;
    font-weight: none; 
    text-decoration: none; 
/* the navigation bar  */
}


